/*-----------------------------------------------------------------------------------------------
BUTTON STYLES
-------------------------------------------------------------------------------------------------*/
// 

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.banner-buttons-wrapper {
  height: 30px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 40px;
}

.banner-buttons {
  width: 14px;
  height: 14px;
  border: 3px solid $green;
  background-color: $grey;
  display: inline-block;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
 
  &:hover {
    background-color: $light-grey;
  }
}

.active {
  background-color: $light-grey;
}

.scroll-to-top div {
  position: fixed;
  bottom: 80px;
  right: 40px;
  z-index: 3000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  &.sTt {
    background-color: $green;

    &:hover {
      background-color: $green;
    }
  
    &:after {
      content: "";
      display: block;
      background-image: url("../img/icons/arrowUp.svg");
      width: 50px;
      height: 50px;
      background-repeat: no-repeat;
      cursor: pointer;
    }
  }
}
  