@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Indie+Flower&family=Lato:wght@400;700&family=Roboto&family=Yatra+One&display=swap');
@import "colors", "simple-grid", "typography", "buttons";
body {
  height: 100%;
  width: 100%;                   
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}


/* -----------------------------------------------------------------
    BANNER
------------------------------------------------------------------- */

.banner{
  width: calc(100% - 100px);
  height: calc(35vh - 100px);
  min-height: 200px;
  max-height: 300px;;
  padding: 50px;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/waterlily.jpg");
}

.banner-content{
  text-align: center;
  color: $white;
      padding-bottom: 50px;
    width: calc(100% - 10px);
    height: calc(35vh - 100px);
    min-height: 200px;
    padding-top: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

$transition: ease-in-out 0.3s all;

.slide-img{
  min-height: 220px;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  background-position: center;
  background-size: contain;
}

/* -----------------------------------------------------------------
    HEADER/NAV
------------------------------------------------------------------- */
$transition: ease-in-out 0.6s;

.header-top {
  background-color: $green;
  height: 60px;
  position: sticky;
  top: 0px;
  z-index: 3001;
}
.header {
  position: sticky;
  top: 60px;
  background-color: $white;
  height: 70px;
  width: 100%;
  z-index: 3001;
  padding-top: 10px;
}

.header nav {
  position: relative;
  top: 0px;
  transition: $transition;
  z-index: 3002;
  width: calc(80% - 100px);
  height: calc(35vh - 100px);
  min-height: 150px;
  padding:50px;
  background-color: $grey;
  margin-left: 10%;
  overflow: hidden;
  margin-top: 10px;
}
.header nav.hidden {
  display: none;
}
.header nav.visible {
  display: block;
}
.header a {
  color: $black;
  text-decoration: none;
  font-family: $dancing-script;
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
  display: block;
  width: calc(100% - 20px);
  &:hover {
    background-color: $grey;
  }
  &.active {
    background-color: $light-grey;
  }
}

@media only screen and (max-width: $breakpoint-med) {
  .header nav{
    width: calc(100% - 100px);
    margin-left: 0%;
  }
}

@media only screen and (min-width: $breakpoint-med) {
  .header nav{
    width: 25%;  
    margin-left: 64%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 20px;
    margin-top: 10px;
    height: 170px;
  }
}


.header nav h2{
  margin-top: 10px;
  margin-bottom: 10px;
}


#nav-icon {
  width: 30px;
  height: 30px;
  position: relative;
  float: right;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  margin-top: 15px;
  margin-right: 10px;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: $black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 5px;
}

#nav-icon span:nth-child(2) {
  top: 15px;
}

#nav-icon span:nth-child(3) {
  top: 25px;
}

#nav-icon.open span:nth-child(1) {
  top: 15px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.open span:nth-child(3) {
  top: 15px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* -----------------------------------------------------------------
    FOOTER
------------------------------------------------------------------- */
.footer{
  background-color:$light-grey;
  color:$black;
  padding-top: 40px;
}
.footer h4{
  font-size: 1.166em;
  font-family: $roboto;
}
.footer h5{
  margin-left: 30px;
  font-weight: 700;
  margin-bottom:10px;
} 
.footer p{
  margin-left: 50px;
}
.footer a  {
  font-size: small;
  display: block;
  color:$black;
  margin-left: 40px;
}

.footerMt a  {
  font-size: small;
  display: block;
  color:$black;
}

.icon{
  margin-left: 15px;
  background-repeat: no-repeat;
}

.icon p{
  margin-left: 35px;
}

@media only screen and  (max-width: $breakpoint-med) {
  .footer{
    display: none;
  }
}

.copy{
  color:$white;
  background-color: $black;
  text-align: center;
  overflow:hidden ;
}

.footerMt{
  width: 100%;
  max-width: 768;
  margin: 0 auto;
  padding: 15px;
}

.footerMt .faq {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 25px;
  padding:15px;
  background-color: $grey;
  color:$black;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.footerMt .faq .faq-mainTitle{
  position: relative;
  font-size: 17px;
  padding-right: 80px;
  transition: all 0.3s ease;
  font-weight: 800;
  font-family: $roboto;
}

.footerMt .faq .faq-title,
.footerMt .faq .faq-title2,
.footerMt .faq .faq-title3{
  position: relative;
  font-size: 15px;
  padding-right: 0px;
  transition: all 0.3s ease;
  font-weight: 800;
}

.footerMt .faq .faq-mainTitle::after{
content: '';
  position: absolute;
  top:50%;
  right:0px;
  transform: translateY(-50%);
  width:30px;
  height:30px;
  background-image: url('../img/icons/plus.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}

.footerMt .faq .faq-title,
.faq-text1,
.faq-text2,
.faq-text3,
.faq-title2,
.faq-text4,
.faq-title3,
.faq-text5  {
  opacity: 0;
  max-height: 0;
  overflow-y: hidden;
}

.footerMt .faq.open .faq-mainTitle{
  margin-bottom: 15px;
}

.footerMt .faq.open .faq-mainTitle::after{
  background-image: url('../img/icons/minus.svg');
  transform: translateY(-50%);
}

.footerMt .faq.open .faq-title, 
.footerMt .faq.open .faq-title2,
.footerMt .faq.open .faq-title3{ 
  max-height: 1000px;
  opacity: 1;
}

.footerMt .faq.open .faq-text1, 
.footerMt .faq.open .faq-text2, 
.footerMt .faq.open .faq-text3,
.footerMt .faq.open .faq-text4,
.footerMt .faq.open .faq-text5 {
  margin-left:50px;
  max-height: 1000px;
  opacity: 1;
}

.footerMobTab{
  background-color:$light-grey;
  color: $black;
  padding-top: 3em;
  position: relative;
  bottom:0;
  width:100%;
  display:block;
}
.follow h4{
  font-size: 17px;
}
@media only screen and (min-width: $breakpoint-med) {
  .footerMobTab{
  display: none;
}

}

.img-style{
  width:100%;
}

@media only screen and (min-width: $breakpoint-small)  and (max-width: $breakpoint-med) {
  .img-style{
      width: 90%;
      margin-left: 15px;
    }
  }