/*------------------------------------------------------------------------------------
    GLOBAL TYPOGRAPHY STYLES 
        checkout https://type-scale.com/ STARTING SCALE FOR THE FONTS
        google fonts and weights
--------------------------------------------------------------------------------------*/

// fonts
$dancing-script: 'Dancing Script', cursive;
$indie-flower: 'Indie Flower', cursive;
$lato: 'Lato', sans-serif;
$roboto: 'Roboto', sans-serif;
$yatra-one: 'Yatra One', cursive;

$roboto: "Roboto", sans-serif;
$open-sans: "SansOpen ", sans-serif;
$roboto-condensed: "Roboto Condensed", sans-serif;

// font weights
$light-weight: 300;
$regular-weight: 400;
$medium-weight: 500;
$semi-bold-weight: 600;
$bold-weight: 700;
$extra-bold-weight: 800;
$black-weight: 900;

// font-size: 14px;
// 1em = 16px = 100%
html {
  font-size: 87.5%;
}
body {
  background-color: $white;
  font-family: $lato;
  font-weight: $regular-weight;
  color: $grey;
  line-height: 1.65em;
  border: 0px;
  margin: 0px;
}
p {
  font-family: $lato;
  margin-bottom: 1.15rem;
}

h1,
h2
{
 
  font-family: $dancing-script;
  line-height: 1.15;
}
h2

h4,
h5 {
  font-family: $roboto;
  line-height: 1.15;
}
h1 {
  margin-top: 0;
  font-size: 1.802em;
  text-transform: uppercase;
  font-weight: $bold-weight;
}

h2 {
  font-size: 1.502em;
  text-transform: capitalize;
  font-weight: $medium-weight;
}

h3 {
  font-size: 1.424em;
}

h4 {
  font-size: 1.266em;
}

h5 {
  font-size: 1.125em;
}

small,
.text_small {
  font-size: 0.889em;
}

.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.justify {
  text-align: justify;
}
