//
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Roboto:wght@300;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import "colors", "simple-grid", "typography", "buttons";
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

/* -----------------------------------------------------------------
    HEADER
------------------------------------------------------------------- */
$transition: ease-in-out 0.6s;

.panel {
  transition: $transition;
}

.header {
  position: sticky;
  top: 0px;
  background-color: $white;
  height: 70px;

  width: 100%;
  z-index: 3001;
}
.header div.container {
  position: relative;
}

.header nav {
  position: relative;
  top: 0px;
  display: block;
  transition: $transition;
  padding-top: 30px;
  float: center;
  z-index: 3002;
  width: 100%;
  height: 300px;
  background-color: $grey;
  overflow: hidden;
}

.header nav.hidden {
  display: none;

  // transform: translateY(-50px);
}
.header nav.visible {
  display: block;
  // transform: translateY(0px);
}

.header a {
  color: $black;
  text-decoration: none;
  font-family: $roboto-condensed;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  padding-bottom: 20px;
  display: block;
  width: calc(100% - 20px);
  &:hover {
    background-color: $grey;
  }
  &.active {
    background-color: $light-grey;
  }
}

#nav-icon {
  width: 30px;
  height: 30px;
  position: relative;
  float: right;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 10px;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: $black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 5px;
}

#nav-icon span:nth-child(2) {
  top: 15px;
}

#nav-icon span:nth-child(3) {
  top: 25px;
}

#nav-icon.open span:nth-child(1) {
  top: 15px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.open span:nth-child(3) {
  top: 15px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.header-top {
  background-color: $green;
  height: 40px;

}


/* -----------------------------------------------------------------
    SECTION COLORS
------------------------------------------------------------------- */


.title-text {
  color: $grey;
}

//  font colors for templates
.white-color {
  color: $white;
}
.light-grey-color {
  color: $light-grey;
}
.grey-color {
  color: $grey;
}
.black-color {
  color: $black;
}


// background colors for templates
.green {
  background-color: $green;
  color: $white;
}
.white {
  background-color: $white;
  color: $black;
}
.grey {
  background-color: $grey;
  color: $white;
}
.light-grey {
  background-color: $light-grey;
  color: $grey;
}

.padding-top-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
}
// add this to main.scsss
// .carousel {
//   background-color: $dark-grey;
//   width: 100%;
//   height: 300px;
//   position: relative;
// }